@page "/attendances/create"
@using Microsoft.EntityFrameworkCore
@using CR_GR__Helper.Models
@inject IDbContextFactory<CR_GR__Helper.Data.CR_GR__HelperContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Attendance</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Attendance" OnValidSubmit="AddAttendance" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3" >
                <span class="text-danger">*</span>
                <label for="date" class="form-label">Date:</label> 
                <InputDate id="date" @bind-Value="Attendance.Date" class="form-control" aria-required="true"/>
                <ValidationMessage For="() => Attendance.Date" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="studentid" class="form-label">StudentId:</label> 
                <InputNumber id="studentid" @bind-Value="Attendance.StudentId" class="form-control" /> 
                <ValidationMessage For="() => Attendance.StudentId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="subjectid" class="form-label">SubjectId:</label> 
                <InputText id="subjectid" @bind-Value="Attendance.SubjectId" class="form-control" /> 
                <ValidationMessage For="() => Attendance.SubjectId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="Attendance.Status" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Attendance.Status" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="remarks" class="form-label">Remarks:</label> 
                <InputText id="remarks" @bind-Value="Attendance.Remarks" class="form-control" /> 
                <ValidationMessage For="() => Attendance.Remarks" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/attendances">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Attendance Attendance { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAttendance()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attendance.Add(Attendance);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/attendances");
    }
}
