@page "/attendances/edit"
@using Microsoft.EntityFrameworkCore
@using CR_GR__Helper.Models
@inject IDbContextFactory<CR_GR__Helper.Data.CR_GR__HelperContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Attendance</h2>
<hr />
@if (Attendance is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Attendance" OnValidSubmit="UpdateAttendance" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Attendance.Id" value="@Attendance.Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="date" class="form-label">Date:</label>
                    <InputDate id="date" @bind-Value="Attendance.Date" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Attendance.Date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="studentid" class="form-label">StudentId:</label>
                    <InputNumber id="studentid" @bind-Value="Attendance.StudentId" class="form-control" />
                    <ValidationMessage For="() => Attendance.StudentId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="subjectid" class="form-label">SubjectId:</label>
                    <InputText id="subjectid" @bind-Value="Attendance.SubjectId" class="form-control" />
                    <ValidationMessage For="() => Attendance.SubjectId" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="Attendance.Status" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Attendance.Status" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="remarks" class="form-label">Remarks:</label>
                    <InputText id="remarks" @bind-Value="Attendance.Remarks" class="form-control" />
                    <ValidationMessage For="() => Attendance.Remarks" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/attendances">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Attendance? Attendance { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Attendance ??= await context.Attendance.FirstOrDefaultAsync(m => m.Id == Id);

        if (Attendance is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateAttendance()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Attendance!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!AttendanceExists(Attendance!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/attendances");
    }

    private bool AttendanceExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Attendance.Any(e => e.Id == id);
    }
}
